<!DOCTYPE html>
<html lang="{{ or site.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    <div class="base-container">
      <nav>
        {{ partial "nav.html" . }}
      </nav>
    </div>
    {{ if .IsHome }}
    <div class="home-wrapper">
      <div class="base-container">
        <div class="header-content">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
      </div>
    </div>
    {{ end }}
  </header>
  <main>
    <div class="base-container">
    {{ block "main" . }}{{ end }}
    </div>
  </main>
  <footer>
    <div class="base-container">
    {{ partial "footer.html" . }}
    </div>
  </footer>
</body>
</html>
