<div class="footer-content">
    <div class="github">
        <a href="https://github.com/inugami-dev64/ARA_Veebileht">
            <img width="100" src="{{ .Site.BaseURL }}/img/github.png" alt="github.png">
        </a>
    </div>
    <div class="contributors">
        <ul>
            <li>Richard Leover (<a href="https://github.com/richardleoverr" target="blank">Github</a>)</li>
            <li>Karl-Mihkel Ott (<a href="https://github.com/inugami-dev64" target="blank">Github</a>)</li>
            <li>Kaspar Tugevus</li>
        </ul>
    </div>
</div>