<nav>
    <div class="flex-left">
        <a href="/~karl-mih/">
            <img src="/~karl-mih/static/img/logo.png" alt="logo">
        </a>
    </div>

    <div class="flex-right">
        <a href="/~karl-mih/riistvara">Riistvara</a>
        <a href="/~karl-mih/arhitektuur">Arhitektuur</a>
        <a href="/~karl-mih/otsi">Otsi artikleid</a>
        <a href="/~karl-mih/teemad">Teemad</a>
        <a href="/~karl-mih/lisa-artikleid">Lisa artikleid</a>

        <!-- Toggle switch -->
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
</nav>